:root{
  --gray:#EFEFEF;
  --black:#000;
  --white:#fff;
  --red:#270103;
  --red_orange:#EA2803;
  --pale_red:#FABAB4;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1,h2{margin: 0; padding: 0;}

form{position: relative; z-index: 500; display: flex;align-items: center;justify-content: center;flex-wrap: wrap; font-size: 18px;}
form label{ padding: 10px;}
form select, form input{padding: 15px; width: 250px; background-color: var(--gray); border: none; border-radius: 5px; font-size: 18px;}
form input.submit{background-color:var(--red); background-color:var(--red); width: 100px; color:var(--white); margin-left: 10px;}
form input.id{width: 50px;}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
