*{box-sizing: border-box;}

.flex{display: flex;align-items: start;justify-content: start;flex-wrap: wrap; padding: 25px;}

.info-wrapper{width: 25%; padding: 25px; text-align: center;}
h1{width: 100%; text-align: center;}
.info-wrapper h2 span{display: block; font-size: 13px; text-transform: uppercase; letter-spacing: 1px;}
.info-wrapper p{padding-bottom: 0; margin: 0;}
.info-wrapper img{max-height: 100%; width:auto;}
.info-wrapper .img-wrapper{height:300px; overflow: hidden;}