:root{
  --white:#fff;
  --black:#000;
  --red: #BF1304;
  --green:#044040;
  --mint:#8FC1B5;
  --purple:#45214A;


}

*{box-sizing: border-box;}

.App {
  text-align: center; max-width: 600px; margin: 0 auto;
}
