.likes{transform: scale(1); transition: all .15s ease-in;}
    .likes:hover{cursor: pointer; color:var(--blue); transform: scale(1.1); transition: all .15s ease-in;}
.likes .star{font-size: 40px; color:var(--yellow);}
.likes .amount{position: absolute; top: 53%;transform: translateY(-50%); left: 0; right: 0; margin: 0 auto; z-index: 10; color:var(--black); font-size: 12px;}