:root{
  --white:##F2F2F2;
  --black:#000;
  --cream:#D9C3B0;
  --red:#590232;
  --pink:#904549;
}

*{box-sizing: border-box;}

.App {text-align: left;}

.background{background-image: url('./img/coin.jpg');position: absolute; top:0; left: 0; width: 100%; height: 100%; background-position: bottom center; background: cover;}

.container{position: relative; z-index: 100; padding: 50px;}