:root{
    --white:#fff;
    --black:#000;
    --gray:#ccc;
    --pink:#F28585;

    --red:#A6032F;
}

*{box-sizing: border-box;}

.App{max-width: 600px; margin: 0 auto;}
.App h1{text-align: center; color:var(--pink);}

/* Can add them here? */
/* .formWrp{background-color: black;} */