:root{
  --white:#fff
  --black:#000;

}

*{box-sizing: border-box;}

.App {
  text-align: center;
}

/* NAV */
nav{display: flex;align-items: center;justify-content: center;flex-wrap: wrap; padding: 25px 50px;}
nav li{padding: 0 10px; list-style: none;}
nav li a{color:var(--black);}
nav li a:hover{color:red;}

/* FORM */
form{display: flex; align-items: center;justify-content: center;flex-wrap: wrap;}
input + span{display: none;}
input:focus + span{display: block; color:red;}
