.titleWrp, .subTtleWrp {display: flex;align-items: flex-start;justify-content: flex-start;flex-wrap: wrap; text-align: left;}
.titleWrp > p {font-weight: 600; width: 33.33%;}
.subTtleWrp > p, .subTtleWrp .delete {width: 33.33%;}