/* BANNER */
.banner{background-image: url("../img/bread.jpg"); padding: 50px; background-size: cover; background-position: center; position: relative; color:var(--white);}
    .banner:before{content:''; height:100%; width: 100%; background-color:var(--black); opacity: .4; position: absolute; top: 0;left: 0; padding: 0;}
.banner h1{margin: 0; position: relative; }
.banner p{position: relative;}