@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

:root{
  --white:#fff;
  --black:#262416;
  --red:#BF1304;
    --dk_red:#592411;

  --mint:#81A691;
    --lt_mint:#A8BFBB;
  --orange:#D96A29;
}

*{ box-sizing: border-box; font-family: 'Hubballi', sans-serif;}

body{background-image: url('./components/img/pizza.jpg');}

p,div{font-size: 18px;}

#root{height: 100vh; width: 100%; position: relative;}
#root:before{content:''; height: 100%; width: 100%; background-color:rgba(0,0,0,.65); position: absolute; top: 0;left: 0;}

h1{font-size: 75px; margin: 0; padding-bottom: 50px;}

.App{max-width: 600px; margin: 0 auto; text-align: center; color:var(--white); position: relative; z-index: 100; padding-top: 100px;}