.results{position: relative; z-index: 1000; padding-top: 50px;}
.results h2{text-transform: uppercase;}

.cardsWrapper,.cardsWrapper{display: flex;align-items: center;justify-content: center;flex-wrap: wrap; position: relative; z-index: 100;}
.cardsWrapper h2{padding: 25px 0;}
.mainWrapper{width: 100%;order: -1; padding-top: 50px;}
.mainWrapper > div{max-width: 500px; margin: 0 auto; background-color:var(--red); color:var(--white); padding-bottom: 25px;}

