.results{position: relative; z-index: 1000; padding-top: 50px;}
.results h2{text-transform: uppercase;}

.cardsWrapper{display: flex;align-items: center;justify-content: center;flex-wrap: wrap;}
.cardsWrapper h2{padding: 25px 0;}
