.getAllPokes{padding: 50px; display: flex;align-items: center;justify-content: space-between;flex-wrap: wrap;}
.getAllPokes .wrp{width: calc(50% - 25px); display: flex;align-items: center;justify-content: center;flex-wrap: wrap;}
.getAllPokes label{display: block; text-align: left; width: 100%; padding-bottom: 10px; font-weight: 600;}
.getAllPokes input{padding: 15px 10px; width: calc(100% - 200px); border:solid 1px var(--black); border-right:none; transition: all .25s ease-in;}
    .getAllPokes input:hover{cursor: pointer; opacity:.75; transition: all .25s ease-in;}
    .getAllPokes input:focus{border:solid 1px var(--yellow); outline: none;}
.getAllPokes input.submit{width: 170px; background-color:var(--yellow); border-color: var(--yellow); font-size: 16px; }
.getAllPokes input.getAll{width: 100%; background-color:var(--blue); border-color: var(--blue); font-size: 16px; font-weight: 600;color:var(--white);}

.fetchedPokes{display: flex;width: 100%; align-items: center;justify-content: center;flex-wrap: wrap; margin-top: 50px;}

.list{display: flex;align-items: start;justify-content: start;flex-wrap: wrap;} 
.list li{width: 208px; text-align: left; padding-bottom: 10px;}