:root{
  --white:#fff;
  --black:#1E232E;
  --lav:#7A577A;
  --gold:#7A6D31;
  --green:#1E232E;
  --mint:#287A70
}

*{box-sizing: border-box;}

.App{text-align: center;}


/* FORM */
input + span,textarea + span{display: none;}
input:focus + span,textarea:focus + span{color:red; display: block;}