:root{
  --red:#FF81D0;

  --gray:#d2d2d2;
  --lav:#e6d1db;
}
*{box-sizing: border-box;}
body{
  background-image: url('./components/img/icecream.jpg'); background-size: cover; background-repeat: no-repeat; position: relative; height: 100vh;width: 100%;
}
body:before{content:''; position: absolute; top: 0;left: 0;width: 100%; height: 100%;background-color: rgba(0,0,0,.5);}