:root{
  --white:#fff;
  --black:#000;
}

*{box-sizing: border-box; }


.App{max-width:600px; margin: 0 auto; text-align: center;}
.App form > div{display: flex; align-items: center;justify-content: start;flex-wrap: wrap; padding-bottom: 15px;}
.App form > div label{width: 150px; text-align-last: left;}
.App p{text-align-last: left;}